.product_listing {
  width: 80%;
  border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px 100px;
}

.navImg1 {
  text-align: center;
  justify-content: center;
  margin: auto;
  padding-top: 30px;
  text-align: center;
}

.navImg2 {
  text-align: center;
  justify-content: center;
  margin: auto;
  padding-top: 30px;
  text-align: center;
}
