.input {
  outline: 1px solid gray;
  width: 90%;
  padding: 8px;
  margin: 14px;
  text-align: left;
  margin-left: 22px;
  font-size: medium;
  border-radius: 5px;
  background-color: white;
  border: none;
}

/* .input:hover {
  outline: 1.6px solid black;
} */
